In [139]:
a = [81, 82, 83]
b = a[1:2]
print(a)
print(b)

[81, 82, 83]
[82]

In [140]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']
print(uma_lista[1:5])
print(uma_lista[:4])
print(uma_lista[3:])
print(uma_lista[:])

['b', 'c', 'd', 'e']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [141]:
minhaLista = [76, 92.3, "oi", True, 4, 76]
minhaLista = minhaLista[:] + ["pitomba", 76]
minhaLista = minhaLista[:3] + ["Cibele"] + minhaLista[3:]
minhaLista = [99] + minhaLista[:]
print(minhaLista)
minhaLista = minhaLista[0:5] + minhaLista[6:]
print(minhaLista)

[99, 76, 92.3, 'oi', 'Cibele', True, 4, 76, 'pitomba', 76]
[99, 76, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [142]:
minhaLista = [76, 92.3, "oi", True, 4, 76, ]
minhaLista = [76, 92.3, "oi", True, 4, "pitomba", 76, ]
minhaLista [3] = "cibele"
print(minhaLista[2:3]) 
minhaLista [0] = 99
minhaLista [:]
print(minhaLista)

['oi']
[99, 92.3, 'oi', 'cibele', 4, 'pitomba', 76]

In [143]:
dicio = {'chave':'valor'}
print(type(dicio))

<class 'dict'>

In [144]:
d = {'laranjas':15, "bananas": 35, 'siriguelas':12}
d

{'laranjas': 15, 'bananas': 35, 'siriguelas': 12}

In [145]:
d['pitomba'] = 20
len(d)

4

In [146]:
del d['laranjas']
'laranjas' in d

False

In [147]:
frutas = ["pinha", "oiti coró", 'jaca', 'tamarindo']
print([1,2] + [3,4])
print(frutas + [6,7,8,9])

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [148]:
print([0] * 4)
print([1,2 ,["oi" , "tchau"]] * 2)

[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]